In [19]:
import model as m
import wrangle as w
from importlib import reload

In [20]:
train,validate,test = w.tvt_split(w.wrangle_zillow())

In [21]:
reload(m)
m.select_baseline(train.log_error)

|                 |     SSE |       MSE |     RMSE |
|:----------------|--------:|----------:|---------:|
| Mean Baseline   | 1285.55 | 0.0296687 | 0.172246 |
| Median Baseline | 1289.55 | 0.0297612 | 0.172514 |
### Because mean outperformed median on all metrics,         we will use mean as our baseline

In [ ]:
scaled_train = w.scale(train,['tax_value','calc_sqft','latitude','longitude'])

In [26]:
reload(m)
clustered_scaled,scaler,clusterer = m.scale_and_cluster(train,['latitude','longitude','tax_value','calc_sqft','bed_count','bath_count'],cluster_cols=['tax_value','calc_sqft','latitude','longitude'],cluster_name='cluster_fuck',target=train.log_error,k=7)
m.apply_to_clusters(features=clustered_scaled,target=clustered_scaled.log_error,cluster_col='cluster_fuck',)

,latitude,longitude,tax_value,calc_sqft,bed_count,bath_count,cluster_fuck
0,0.510506,0.566378,0.091173,0.161749,0.230769,0.307692,1
1,0.324810,0.581644,0.021825,0.064572,0.230769,0.153846,0
2,0.437152,0.530325,0.014566,0.113959,0.384615,0.230769,0
3,0.340490,0.798208,0.010509,0.040859,0.153846,0.076923,4
4,0.828758,0.728853,0.003325,0.065302,0.230769,0.153846,0